<h4>Start Here</h4>
<p>{{input type="checkbox" name="drink1" checked=false}}
    10am - Drink a glass of water
</p>
<p>{{input type="checkbox" name="food1" checked=false}}
    10:30am - Order/Cook Food
</p>
<p>{{input type="checkbox" name="cure1" checked=false}}
    10:30am - Make a 
    {{#link-to "cures"}}
        Cure
    {{/link-to}}
</p>
<p>{{input type="checkbox" name="relax1" checked=false}}
    11am - Take a load off with either 
    <a href="https://www.netflix.com">Netflix</a> 
    or might we recommend some 
    <a href="https://www.hulu.com/south-park">South Park</a>
</p>
<p>
    {{input type="checkbox" name="relax2" checked=false}}
    12pm - Take a nap
</p>
{{!-- Add some more/maybe make it read out of an array so it can change based on the person --}}